<ion-card class="recipe-card skeleton-card">
  <ion-card-header class="recipe-card-header">
    <ion-toolbar color="transparent">
      <ion-buttons slot="end">
        <ion-button fill="solid" shape="round" color="medium" disabled>
          <ion-skeleton-text animated style="width: 18px; height: 18px" />
        </ion-button>
        <ion-button fill="solid" shape="round" color="secondary" disabled>
          <ion-skeleton-text animated style="width: 18px; height: 18px" />
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>

  <div class="skeleton-image">
    <ion-skeleton-text animated />
  </div>

  <div class="recipe-card-title-container skeleton-title">
    <ion-skeleton-text animated style="width: 88%" />
    <ion-skeleton-text animated style="width: 62%" />
  </div>
</ion-card>
