<div class="recipe-meta">
  <div class="meta-info">
    <div class="meta-item" appTooltip tooltipKey="xListoEn">
      <ion-icon name="time-outline"></ion-icon>
      <span>{{ readyInMinutes() }}m</span>
    </div>

    <div class="meta-item" appTooltip tooltipKey="xPreparacion">
      <ion-icon name="restaurant-outline"></ion-icon>
      <span>{{ servings() }}</span>
    </div>
  </div>

  <div class="meta-flags">
    <ion-icon
      appTooltip
      tooltipKey="xVegano"
      name="leaf-outline"
      [class.active]="vegan()"
    />

    <ion-icon
      name="salad"
      [class.active]="vegetarian()"
      appTooltip
      tooltipKey="xVegetarian"
    />

    <ion-icon
      name="glutten"
      [class.active]="glutenFree()"
      appTooltip
      tooltipKey="xSinGluten"
    />

    <ion-icon
      name="dairy"
      [class.active]="dairyFree()"
      appTooltip
      tooltipKey="xSinLacteos"
    />
  </div>

  <div class="meta-actions">
    <ion-button
      appTooltip
      tooltipKey="xToggleFavorito"
      fill="clear"
      (click)="toggleFavorite.emit()"
    >
      <ion-icon
        slot="icon-only"
        [color]="isFavorite() ? 'danger' : 'medium'"
        name="heart-outline"
      />
    </ion-button>

    <ion-button
      appTooltip
      tooltipKey="xVerSimilares"
      fill="clear"
      (click)="viewSimilar.emit()"
    >
      <ion-icon slot="icon-only" name="repeat-outline" />
    </ion-button>
  </div>
</div>
